@media (min-width: 768px) {
    .container {
        display: flex;
        gap: 20px;
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }

    div {
        width: 33%;
    }
}

@media (max-width: 767px) {
    div + div {
        margin-top: 20px;
    }
}